.Logincontainer {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #fdfcfc;
  border-radius: 10px;
  text-align: center;
  
  box-shadow: 0 4px 8px rgb(250, 239, 239);
 
}


.Logincontainer  .title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.Logincontainer  form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.Logincontainer  input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #131212;
  border-radius: 5px;
}

.Logincontainer  button {
  padding: 10px;
  font-size: 16px;
  color: #0d0a0a;
  color:white;
  background-color:hsl(131, 66%, 48%);;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Logincontainer  .checkbox{
  display: flex;
  background-color:hsl(131, 66%, 48%);;
}
.Logincontainer  .checkbox input{
  display: inline-block;
}
