.Logincontainer {
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #fdfcfc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgb(250, 239, 239);
 
}


.Logincontainer  .title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.Logincontainer  form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.Logincontainer  input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #131212;
  border-radius: 5px;
}

.Logincontainer  button {
  padding: 10px;
  font-size: 16px;
  color:white;
  background-color:#506EDC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-email input{
  margin-left: 40px;
}
.login-password input{
  margin-left: 10px;
}
.login-email{
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 10px;
}
.login-password{
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 10px;
}
.login-dont{
  margin-top: 60px;
}


